@using Shaa.Domain.ViewModels.BasicInfo;
@model Laboratory_ConfirmViewModel

<div class="w-100 pt-15 px-20 pb-10 fv-plugins-bootstrap5 fv-plugins-framework" 
  id="kt_create_laboratory_confirm_partial_form">
    <p>اطلاعات با موفقیت ذخیر شد</p> 
</div>