@model FilterWardViewModel

<form asp-controller="Laboratory" asp-action="SaveWard" method="post"
      class="w-100 p-4 fv-plugins-bootstrap5 fv-plugins-framework" novalidate="novalidate" id="kt_create_laboratory_ward_form">
    <input asp-for="Id" type="hidden" />
    <input asp-for="LaboratoryId" type="hidden" />
    <div class="w-100">
        <div class="row mb-12">
            <div class="col-md-12 fv-row">
                <label class="fs-6 fw-bold form-label mb-2">عنوان بخش</label>
                <input asp-for="WardTitle" name="WardTitle" class="form-control form-control-lg form-control-solid" />
            </div>

            <!--begin::Actions-->
            <div class="mt-5">
                <a href="#" class="btn btn-danger float-end me-2" onclick="closeOpenDialogContent($('#kt_create_laboratory_ward_form'))">انصراف</a>
                <a href="#" class="btn btn-bg-success float-end me-2" onclick="AddNewWard()">ثبت</a>
            </div>
            <!--end::Actions-->
        </div>
    </div>
</form>


<script>
    var ward_form = document.querySelector('#kt_create_laboratory_ward_form');
    var WardWindow_Validation = FormValidation.formValidation(ward_form, {
        fields: {
            WardTitle: { validators: { notEmpty: { message: "لطفا عنوان بخش را وارد کنید" } } },
        },
        plugins: {
            trigger: new FormValidation.plugins.Trigger,
            bootstrap: new FormValidation.plugins.Bootstrap5({ rowSelector: ".fv-row", eleInvalidClass: "", eleValidClass: "" })
        }
    });

    var AddNewWard = function() {
        var lab_id = $('#kt_create_laboratory_ward_form #LaboratoryId').val();
        WardWindow_Validation.validate().then((function(vr) {
            if (vr === "Valid") {
                $(ward_form).ajaxSubmit({
                    success: function(res) {
                        debugger;
                        if (res.success == false) {
                            // failed();

                            if (res.errors)
                                ShowError(res.errors[0].message);
                            else
                                ShowSuccess('عملیات موفقیت آمیز نبود');

                        } else {
                            closeOpenDialogContent($('#kt_create_laboratory_ward_form'));
                            load_content('/Laboratory/WardPartial', { laboratoryId: lab_id }
                                , function(data) {
                                    $('#stepper-content-2').html(data);
                                    InitComponents();
                                    KTUtil.scrollTop();
                                });

                            if (res.success == true)
                                ShowSuccess('اطلاعات با موفقیت ذخیره شد');
                        }
                    },
                    error: function(e) {
                    }
                });
            }
        }));
    }

    
</script>