USE [master]
GO
/****** Object:  Database [Shaa]    Script Date: 11/27/2022 10:11:47 AM ******/
CREATE DATABASE [Shaa]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Sha', FILENAME = N'E:\Database\Shaa\Sha.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Sha_log', FILENAME = N'E:\Database\Shaa\Sha_log.ldf' , SIZE = 73728KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Shaa].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Shaa]
GO
/****** Object:  Schema [Lab]    Script Date: 11/27/2022 10:11:47 AM ******/
CREATE SCHEMA [Lab]
GO
/****** Object:  Schema [organization]    Script Date: 11/27/2022 10:11:47 AM ******/
CREATE SCHEMA [organization]
GO
/****** Object:  Schema [Req]    Script Date: 11/27/2022 10:11:47 AM ******/
CREATE SCHEMA [Req]
GO
/****** Object:  Schema [share]    Script Date: 11/27/2022 10:11:47 AM ******/
CREATE SCHEMA [share]
GO
/****** Object:  Table [dbo].[User]    Script Date: 11/27/2022 10:11:47 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User](
	[Id] [uniqueidentifier] NOT NULL,
	[FirstName] [nvarchar](50) NOT NULL,
	[LastName] [nvarchar](50) NOT NULL,
	[PhoneNumber] [varchar](11) NULL,
	[Email] [varchar](50) NULL,
	[NationalNo] [nvarchar](50) NOT NULL,
	[Description] [nvarchar](4000) NULL,
	[Password] [varchar](255) NOT NULL,
	[BirthDate] [datetime] NULL,
	[CountryId] [int] NULL,
	[CityId] [int] NULL,
	[IsEmailConfirmed] [bit] NOT NULL,
	[IsAdmin] [bit] NOT NULL,
	[IsBanned] [bit] NOT NULL,
	[EmailActivationCode] [varchar](255) NULL,
	[DepartmentId] [uniqueidentifier] NULL,
	[IsDeleted] [bit] NULL,
	[CreationDate] [datetime] NULL,
 CONSTRAINT [PK_User] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [Lab].[Ability]    Script Date: 11/27/2022 10:11:47 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Lab].[Ability](
	[Id] [uniqueidentifier] NOT NULL,
	[Title] [nvarchar](255) NOT NULL,
	[LaboratoryId] [uniqueidentifier] NOT NULL,
	[FurtherDetailsAndProcedure] [nvarchar](1000) NULL,
	[DescriptionOfConsumables] [nvarchar](1000) NULL,
	[ConsumableCost] [bigint] NULL,
	[HumanResourceCost] [bigint] NULL,
	[OtherCost] [bigint] NULL,
	[ImplementationCost] [bigint] NULL,
	[ImplementationTime] [datetime] NULL,
	[FileAttachment] [varchar](255) NULL,
 CONSTRAINT [PK_Ability] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [Lab].[Equipment]    Script Date: 11/27/2022 10:11:47 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Lab].[Equipment](
	[Id] [uniqueidentifier] NOT NULL,
	[LaboratoryId] [uniqueidentifier] NULL,
	[EquipmentTypeId] [int] NOT NULL,
	[Title] [nvarchar](255) NOT NULL,
	[PersianTitle] [nvarchar](255) NULL,
	[GeneralTechnicalSpecification] [nvarchar](255) NULL,
	[EquipmentUsage] [nvarchar](255) NULL,
	[UsageTypeId] [int] NOT NULL,
	[CountryId] [int] NULL,
	[CompanyName] [nvarchar](255) NULL,
	[Model] [varchar](100) NULL,
	[SerialNumber] [varchar](100) NULL,
	[InstallationDate] [datetime] NULL,
	[ExploitationDate] [datetime] NULL,
	[SupplyTypeId] [int] NULL,
	[WardId] [uniqueidentifier] NULL,
	[EquipmentCost] [bigint] NULL,
	[EquipmentImage] [varchar](255) NULL,
	[RelatedSectionId] [int] NULL,
	[Baitul-Mal No] [varchar](255) NULL,
	[EquipmentStatusId] [int] NULL,
	[EmploymentStatusId] [int] NULL,
	[PurchasePrice/Construction] [nvarchar](50) NULL,
	[IsNeededToCalibrate] [bit] NULL,
	[LastCalibrationDate] [datetime] NULL,
	[WarrantyExpirationDate] [datetime] NULL,
	[InsuranceExpirationDate] [datetime] NULL,
	[SpecialCharacteristic] [nvarchar](255) NULL,
	[TitlesAttachedToEquipment] [nvarchar](255) NULL,
 CONSTRAINT [PK_Equipment] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [Lab].[EquipmentAbility]    Script Date: 11/27/2022 10:11:47 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Lab].[EquipmentAbility](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[AbilityId] [uniqueidentifier] NOT NULL,
	[EquipmentId] [uniqueidentifier] NOT NULL,
 CONSTRAINT [PK_EquipmentAbility] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [Lab].[Laboratory]    Script Date: 11/27/2022 10:11:47 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Lab].[Laboratory](
	[Id] [uniqueidentifier] NOT NULL,
	[Title] [nvarchar](255) NOT NULL,
	[LaboratoryTypeId] [int] NOT NULL,
	[PassiveDefenceId] [int] NOT NULL,
	[ApprovalAuthorityId] [int] NULL,
	[StandardStatusId] [int] NULL,
	[ResearchCenterId] [int] NULL,
	[PhoneNumber] [varchar](50) NULL,
	[ImagePath] [nvarchar](1000) NULL,
	[Address] [nvarchar](4000) NULL,
	[Description] [nvarchar](4000) NULL,
 CONSTRAINT [PK_Laboratory] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [Lab].[Request]    Script Date: 11/27/2022 10:11:47 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Lab].[Request](
	[Id] [uniqueidentifier] NOT NULL,
	[LaboratoryId] [uniqueidentifier] NOT NULL,
	[UserId] [uniqueidentifier] NOT NULL,
	[UserName] [nvarchar](255) NOT NULL,
	[IndicatorNo] [nvarchar](255) NOT NULL,
	[Title] [nvarchar](255) NOT NULL,
	[Description] [nvarchar](max) NOT NULL,
	[RequestTypeId] [int] NOT NULL,
	[LetterPath] [varchar](255) NULL,
	[RequestDate] [datetime] NOT NULL,
	[TraceCode] [nvarchar](255) NOT NULL,
	[Status] [int] NULL,
	[DescForCheck] [nvarchar](max) NULL,
 CONSTRAINT [PK_Request] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [Lab].[RequestIndicator]    Script Date: 11/27/2022 10:11:47 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Lab].[RequestIndicator](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[RequestId] [uniqueidentifier] NOT NULL,
	[IndicatorNo] [nvarchar](255) NOT NULL,
	[TraceCode] [nvarchar](255) NOT NULL,
 CONSTRAINT [PK_RequestIndicator] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [Lab].[Ward]    Script Date: 11/27/2022 10:11:47 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Lab].[Ward](
	[Id] [uniqueidentifier] NOT NULL,
	[LaboratoryId] [uniqueidentifier] NULL,
	[Title] [nvarchar](255) NOT NULL,
 CONSTRAINT [PK_Ward] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [organization].[Department]    Script Date: 11/27/2022 10:11:47 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [organization].[Department](
	[Id] [uniqueidentifier] NOT NULL,
	[ParentId] [uniqueidentifier] NULL,
	[DepartmentTypeId] [int] NOT NULL,
	[Title] [nvarchar](255) NOT NULL,
 CONSTRAINT [PK_Department] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [share].[BaseInfo]    Script Date: 11/27/2022 10:11:47 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [share].[BaseInfo](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[BaseTableTypeId] [int] NOT NULL,
	[Title] [nvarchar](255) NOT NULL,
 CONSTRAINT [PK_BaseInfo] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [share].[BaseTableType]    Script Date: 11/27/2022 10:11:47 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [share].[BaseTableType](
	[Id] [int] NOT NULL,
	[Title] [nvarchar](255) NOT NULL,
 CONSTRAINT [PK_BaseTableType] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[User] ([Id], [FirstName], [LastName], [PhoneNumber], [Email], [NationalNo], [Description], [Password], [BirthDate], [CountryId], [CityId], [IsEmailConfirmed], [IsAdmin], [IsBanned], [EmailActivationCode], [DepartmentId], [IsDeleted], [CreationDate]) VALUES (N'82a76dd9-370b-4e5c-a687-90b8ea6375ca', N'نسترن', N'پورموسی', NULL, NULL, N'0020074271', NULL, N'2F-38-5E-55-2E-46-88-43-9B-49-8E-36-84-29-70-F5', NULL, NULL, NULL, 0, 0, 0, N'5dc5b1d10be24325a313f614a122d4f7', NULL, NULL, NULL)
INSERT [dbo].[User] ([Id], [FirstName], [LastName], [PhoneNumber], [Email], [NationalNo], [Description], [Password], [BirthDate], [CountryId], [CityId], [IsEmailConfirmed], [IsAdmin], [IsBanned], [EmailActivationCode], [DepartmentId], [IsDeleted], [CreationDate]) VALUES (N'8e152918-6dc6-422e-9c68-9d3f83cb0327', N'محمد', N'پیرعلی', NULL, NULL, N'0019525401', NULL, N'2F-38-5E-55-2E-46-88-43-9B-49-8E-36-84-29-70-F5', NULL, NULL, NULL, 0, 0, 0, N'bb950f5587a144c1bf87ce3f1061994e', NULL, NULL, NULL)
INSERT [dbo].[User] ([Id], [FirstName], [LastName], [PhoneNumber], [Email], [NationalNo], [Description], [Password], [BirthDate], [CountryId], [CityId], [IsEmailConfirmed], [IsAdmin], [IsBanned], [EmailActivationCode], [DepartmentId], [IsDeleted], [CreationDate]) VALUES (N'60a3387f-a29d-4ca3-b5cd-f91a7449e905', N'محمدرضا', N'خوش قامت', NULL, NULL, N'0019525400', NULL, N'2F-38-5E-55-2E-46-88-43-9B-49-8E-36-84-29-70-F5', NULL, NULL, NULL, 0, 0, 0, N'3c4d8d2fe01d407d81ef22e3f64ac1f0', NULL, NULL, NULL)
GO
INSERT [Lab].[Ability] ([Id], [Title], [LaboratoryId], [FurtherDetailsAndProcedure], [DescriptionOfConsumables], [ConsumableCost], [HumanResourceCost], [OtherCost], [ImplementationCost], [ImplementationTime], [FileAttachment]) VALUES (N'66463d41-c9f7-4895-bbe8-152971c4163d', N'42', N'bffcb778-f05a-4e2f-a5a4-05ad2d9c91a4', NULL, N'مواد اولیه', 5000000000, 500000000, 5000000000, 500000000000, CAST(N'2022-11-24T00:00:00.000' AS DateTime), N'/content/lab/')
INSERT [Lab].[Ability] ([Id], [Title], [LaboratoryId], [FurtherDetailsAndProcedure], [DescriptionOfConsumables], [ConsumableCost], [HumanResourceCost], [OtherCost], [ImplementationCost], [ImplementationTime], [FileAttachment]) VALUES (N'b27fdcdf-f8c1-4c8b-87d0-d46467994c37', N'43', N'bffcb778-f05a-4e2f-a5a4-05ad2d9c91a4', NULL, N'مواد اولیه', 5000000000, 500000000, 5000000000, 500000000000, CAST(N'2022-11-23T00:00:00.000' AS DateTime), N'/content/lab/')
GO
SET IDENTITY_INSERT [Lab].[EquipmentAbility] ON 

INSERT [Lab].[EquipmentAbility] ([Id], [AbilityId], [EquipmentId]) VALUES (8, N'b27fdcdf-f8c1-4c8b-87d0-d46467994c37', N'f559b4aa-e91b-4b7d-ae8a-0d31ead0260a')
INSERT [Lab].[EquipmentAbility] ([Id], [AbilityId], [EquipmentId]) VALUES (9, N'66463d41-c9f7-4895-bbe8-152971c4163d', N'd9167035-eae5-42a8-b25f-8b5ddb66c7ad')
SET IDENTITY_INSERT [Lab].[EquipmentAbility] OFF
GO
INSERT [Lab].[Laboratory] ([Id], [Title], [LaboratoryTypeId], [PassiveDefenceId], [ApprovalAuthorityId], [StandardStatusId], [ResearchCenterId], [PhoneNumber], [ImagePath], [Address], [Description]) VALUES (N'bffcb778-f05a-4e2f-a5a4-05ad2d9c91a4', N'آزمایشگاه سوم', 12, 2, 4, 15, 6, N'09212440217', N'DefaultLabImage.png', N'تهران', N'توضیحات')
INSERT [Lab].[Laboratory] ([Id], [Title], [LaboratoryTypeId], [PassiveDefenceId], [ApprovalAuthorityId], [StandardStatusId], [ResearchCenterId], [PhoneNumber], [ImagePath], [Address], [Description]) VALUES (N'd680cd7e-f149-4126-9983-0c0020c422e0', N'آزمایشگاه خوش', 13, 3, 5, 16, 8, N'09212434583', N'DefaultLabImage.png', N'تهران', N'')
INSERT [Lab].[Laboratory] ([Id], [Title], [LaboratoryTypeId], [PassiveDefenceId], [ApprovalAuthorityId], [StandardStatusId], [ResearchCenterId], [PhoneNumber], [ImagePath], [Address], [Description]) VALUES (N'b455da73-dbab-4092-b356-2068b4a5de8a', N'آزمایشگاه هشتم', 13, 1, 4, 16, 7, N'(021) 77 47 5047', N'DefaultLabImage.png', N'تهران', N'توضیحات')
GO
INSERT [Lab].[Request] ([Id], [LaboratoryId], [UserId], [UserName], [IndicatorNo], [Title], [Description], [RequestTypeId], [LetterPath], [RequestDate], [TraceCode], [Status], [DescForCheck]) VALUES (N'a1268588-8480-47ef-874d-1b30c8648034', N'9145a574-3cb2-494f-bcdc-34f4807e3c00', N'60a3387f-a29d-4ca3-b5cd-f91a7449e905', N'محمدرضا خوش قامت', N'32323', N'saasfsa', N'asfasf', 70, N'DefaultRequestPath.docs', CAST(N'2022-11-26T00:00:00.000' AS DateTime), N'1401090532323', 1, NULL)
INSERT [Lab].[Request] ([Id], [LaboratoryId], [UserId], [UserName], [IndicatorNo], [Title], [Description], [RequestTypeId], [LetterPath], [RequestDate], [TraceCode], [Status], [DescForCheck]) VALUES (N'279f5ef0-55a8-4431-9216-3af6d5868809', N'9cdba302-1364-4167-b510-2e7c20b77c72', N'82a76dd9-370b-4e5c-a687-90b8ea6375ca', N'نسترن پورموسی', N'21334', N'تست ترانزیستور کوئل', N'لطفا پس از بررسی های مربوطه تست را انجام دهید', 70, N'DefaultRequestPath.docs', CAST(N'2022-10-26T00:00:00.000' AS DateTime), N'1401090621334', 2, N'بررسی انجام گردید و تست مربوطه در اسرع وقت به فاز عملیاتی منتقل میگردد')
INSERT [Lab].[Request] ([Id], [LaboratoryId], [UserId], [UserName], [IndicatorNo], [Title], [Description], [RequestTypeId], [LetterPath], [RequestDate], [TraceCode], [Status], [DescForCheck]) VALUES (N'341db4d3-398a-4a0d-8e6a-4b483b71aa19', N'b455da73-dbab-4092-b356-2068b4a5de8a', N'60a3387f-a29d-4ca3-b5cd-f91a7449e905', N'محمدرضا خوش قامت', N'45856', N'asvsv', N'savsav', 70, N'DefaultRequestPath.docs', CAST(N'2022-11-26T00:00:00.000' AS DateTime), N'1401090545856', 1, NULL)
GO
SET IDENTITY_INSERT [Lab].[RequestIndicator] ON 

INSERT [Lab].[RequestIndicator] ([Id], [RequestId], [IndicatorNo], [TraceCode]) VALUES (20021, N'e621ddbd-63f5-4cd0-a274-51e954b1325d', N'45874', N'1401090545874')
INSERT [Lab].[RequestIndicator] ([Id], [RequestId], [IndicatorNo], [TraceCode]) VALUES (20022, N'a1268588-8480-47ef-874d-1b30c8648034', N'32323', N'1401090532323')
INSERT [Lab].[RequestIndicator] ([Id], [RequestId], [IndicatorNo], [TraceCode]) VALUES (20023, N'341db4d3-398a-4a0d-8e6a-4b483b71aa19', N'45856', N'1401090545856')
SET IDENTITY_INSERT [Lab].[RequestIndicator] OFF
GO
INSERT [Lab].[Ward] ([Id], [LaboratoryId], [Title]) VALUES (N'969aed84-2dcd-472b-9a7d-1125b70f74e6', N'd680cd7e-f149-4126-9983-0c0020c422e0', N'بخش 2')
INSERT [Lab].[Ward] ([Id], [LaboratoryId], [Title]) VALUES (N'f7c64f4f-e77a-4487-8616-11c81de8bb34', N'9cdba302-1364-4167-b510-2e7c20b77c72', N'بخش 1')
INSERT [Lab].[Ward] ([Id], [LaboratoryId], [Title]) VALUES (N'13aae373-c2c3-46ca-a2f3-12ff4f60921e', N'bffcb778-f05a-4e2f-a5a4-05ad2d9c91a4', N'بخش 5')
GO
SET IDENTITY_INSERT [share].[BaseInfo] ON 

INSERT [share].[BaseInfo] ([Id], [BaseTableTypeId], [Title]) VALUES (1, 1, N'دارد')
INSERT [share].[BaseInfo] ([Id], [BaseTableTypeId], [Title]) VALUES (2, 1, N'ندارد')
INSERT [share].[BaseInfo] ([Id], [BaseTableTypeId], [Title]) VALUES (3, 1, N'در حال اقدام')
SET IDENTITY_INSERT [share].[BaseInfo] OFF
GO
INSERT [share].[BaseTableType] ([Id], [Title]) VALUES (1, N'نوع پدافند')
INSERT [share].[BaseTableType] ([Id], [Title]) VALUES (2, N'نوع مرجع تصویب')
INSERT [share].[BaseTableType] ([Id], [Title]) VALUES (3, N'مرکز تحقیقاتی')
GO
ALTER TABLE [dbo].[User]  WITH CHECK ADD  CONSTRAINT [FK_User_BaseInfo] FOREIGN KEY([CountryId])
REFERENCES [share].[BaseInfo] ([Id])
GO
ALTER TABLE [dbo].[User] CHECK CONSTRAINT [FK_User_BaseInfo]
GO
ALTER TABLE [dbo].[User]  WITH CHECK ADD  CONSTRAINT [FK_User_BaseInfo1] FOREIGN KEY([CityId])
REFERENCES [share].[BaseInfo] ([Id])
GO
ALTER TABLE [dbo].[User] CHECK CONSTRAINT [FK_User_BaseInfo1]
GO
ALTER TABLE [dbo].[User]  WITH CHECK ADD  CONSTRAINT [FK_User_Department] FOREIGN KEY([DepartmentId])
REFERENCES [organization].[Department] ([Id])
GO
ALTER TABLE [dbo].[User] CHECK CONSTRAINT [FK_User_Department]
GO
ALTER TABLE [Lab].[Ability]  WITH CHECK ADD  CONSTRAINT [FK_Ability_Laboratory] FOREIGN KEY([LaboratoryId])
REFERENCES [Lab].[Laboratory] ([Id])
GO
ALTER TABLE [Lab].[Ability] CHECK CONSTRAINT [FK_Ability_Laboratory]
GO
ALTER TABLE [Lab].[Equipment]  WITH CHECK ADD  CONSTRAINT [FK_Equipment_BaseInfo] FOREIGN KEY([EquipmentTypeId])
REFERENCES [share].[BaseInfo] ([Id])
GO
ALTER TABLE [Lab].[Equipment] CHECK CONSTRAINT [FK_Equipment_BaseInfo]
GO
ALTER TABLE [Lab].[Equipment]  WITH CHECK ADD  CONSTRAINT [FK_Equipment_BaseInfo1] FOREIGN KEY([UsageTypeId])
REFERENCES [share].[BaseInfo] ([Id])
GO
ALTER TABLE [Lab].[Equipment] CHECK CONSTRAINT [FK_Equipment_BaseInfo1]
GO
ALTER TABLE [Lab].[Equipment]  WITH CHECK ADD  CONSTRAINT [FK_Equipment_BaseInfo2] FOREIGN KEY([CountryId])
REFERENCES [share].[BaseInfo] ([Id])
GO
ALTER TABLE [Lab].[Equipment] CHECK CONSTRAINT [FK_Equipment_BaseInfo2]
GO
ALTER TABLE [Lab].[Equipment]  WITH CHECK ADD  CONSTRAINT [FK_Equipment_BaseInfo3] FOREIGN KEY([SupplyTypeId])
REFERENCES [share].[BaseInfo] ([Id])
GO
ALTER TABLE [Lab].[Equipment] CHECK CONSTRAINT [FK_Equipment_BaseInfo3]
GO
ALTER TABLE [Lab].[Equipment]  WITH CHECK ADD  CONSTRAINT [FK_Equipment_BaseInfo4] FOREIGN KEY([RelatedSectionId])
REFERENCES [share].[BaseInfo] ([Id])
GO
ALTER TABLE [Lab].[Equipment] CHECK CONSTRAINT [FK_Equipment_BaseInfo4]
GO
ALTER TABLE [Lab].[Equipment]  WITH CHECK ADD  CONSTRAINT [FK_Equipment_BaseInfo5] FOREIGN KEY([EquipmentStatusId])
REFERENCES [share].[BaseInfo] ([Id])
GO
ALTER TABLE [Lab].[Equipment] CHECK CONSTRAINT [FK_Equipment_BaseInfo5]
GO
ALTER TABLE [Lab].[Equipment]  WITH CHECK ADD  CONSTRAINT [FK_Equipment_BaseInfo6] FOREIGN KEY([EmploymentStatusId])
REFERENCES [share].[BaseInfo] ([Id])
GO
ALTER TABLE [Lab].[Equipment] CHECK CONSTRAINT [FK_Equipment_BaseInfo6]
GO
ALTER TABLE [Lab].[Equipment]  WITH CHECK ADD  CONSTRAINT [FK_Equipment_Laboratory] FOREIGN KEY([LaboratoryId])
REFERENCES [Lab].[Laboratory] ([Id])
GO
ALTER TABLE [Lab].[Equipment] CHECK CONSTRAINT [FK_Equipment_Laboratory]
GO
ALTER TABLE [Lab].[Equipment]  WITH CHECK ADD  CONSTRAINT [FK_Equipment_Ward] FOREIGN KEY([WardId])
REFERENCES [Lab].[Ward] ([Id])
GO
ALTER TABLE [Lab].[Equipment] CHECK CONSTRAINT [FK_Equipment_Ward]
GO
ALTER TABLE [Lab].[EquipmentAbility]  WITH CHECK ADD  CONSTRAINT [FK_EquipmentAbility_Ability] FOREIGN KEY([AbilityId])
REFERENCES [Lab].[Ability] ([Id])
GO
ALTER TABLE [Lab].[EquipmentAbility] CHECK CONSTRAINT [FK_EquipmentAbility_Ability]
GO
ALTER TABLE [Lab].[EquipmentAbility]  WITH CHECK ADD  CONSTRAINT [FK_EquipmentAbility_Equipment] FOREIGN KEY([EquipmentId])
REFERENCES [Lab].[Equipment] ([Id])
GO
ALTER TABLE [Lab].[EquipmentAbility] CHECK CONSTRAINT [FK_EquipmentAbility_Equipment]
GO
ALTER TABLE [Lab].[Laboratory]  WITH CHECK ADD  CONSTRAINT [FK_Laboratory_BaseInfo] FOREIGN KEY([LaboratoryTypeId])
REFERENCES [share].[BaseInfo] ([Id])
GO
ALTER TABLE [Lab].[Laboratory] CHECK CONSTRAINT [FK_Laboratory_BaseInfo]
GO
ALTER TABLE [Lab].[Laboratory]  WITH CHECK ADD  CONSTRAINT [FK_Laboratory_BaseInfo1] FOREIGN KEY([PassiveDefenceId])
REFERENCES [share].[BaseInfo] ([Id])
GO
ALTER TABLE [Lab].[Laboratory] CHECK CONSTRAINT [FK_Laboratory_BaseInfo1]
GO
ALTER TABLE [Lab].[Laboratory]  WITH CHECK ADD  CONSTRAINT [FK_Laboratory_BaseInfo2] FOREIGN KEY([ApprovalAuthorityId])
REFERENCES [share].[BaseInfo] ([Id])
GO
ALTER TABLE [Lab].[Laboratory] CHECK CONSTRAINT [FK_Laboratory_BaseInfo2]
GO
ALTER TABLE [Lab].[Laboratory]  WITH CHECK ADD  CONSTRAINT [FK_Laboratory_BaseInfo3] FOREIGN KEY([StandardStatusId])
REFERENCES [share].[BaseInfo] ([Id])
GO
ALTER TABLE [Lab].[Laboratory] CHECK CONSTRAINT [FK_Laboratory_BaseInfo3]
GO
ALTER TABLE [Lab].[Laboratory]  WITH CHECK ADD  CONSTRAINT [FK_Laboratory_BaseInfo4] FOREIGN KEY([ResearchCenterId])
REFERENCES [share].[BaseInfo] ([Id])
GO
ALTER TABLE [Lab].[Laboratory] CHECK CONSTRAINT [FK_Laboratory_BaseInfo4]
GO
ALTER TABLE [Lab].[Request]  WITH CHECK ADD  CONSTRAINT [FK_Request_BaseInfo] FOREIGN KEY([RequestTypeId])
REFERENCES [share].[BaseInfo] ([Id])
GO
ALTER TABLE [Lab].[Request] CHECK CONSTRAINT [FK_Request_BaseInfo]
GO
ALTER TABLE [Lab].[Request]  WITH CHECK ADD  CONSTRAINT [FK_Request_Laboratory] FOREIGN KEY([LaboratoryId])
REFERENCES [Lab].[Laboratory] ([Id])
GO
ALTER TABLE [Lab].[Request] CHECK CONSTRAINT [FK_Request_Laboratory]
GO
ALTER TABLE [Lab].[Request]  WITH CHECK ADD  CONSTRAINT [FK_Request_User] FOREIGN KEY([UserId])
REFERENCES [dbo].[User] ([Id])
GO
ALTER TABLE [Lab].[Request] CHECK CONSTRAINT [FK_Request_User]
GO
ALTER TABLE [Lab].[RequestIndicator]  WITH CHECK ADD  CONSTRAINT [FK_RequestIndicator_Request] FOREIGN KEY([RequestId])
REFERENCES [Lab].[Request] ([Id])
GO
ALTER TABLE [Lab].[RequestIndicator] CHECK CONSTRAINT [FK_RequestIndicator_Request]
GO
ALTER TABLE [Lab].[Ward]  WITH CHECK ADD  CONSTRAINT [FK_Ward_Laboratory] FOREIGN KEY([LaboratoryId])
REFERENCES [Lab].[Laboratory] ([Id])
GO
ALTER TABLE [Lab].[Ward] CHECK CONSTRAINT [FK_Ward_Laboratory]
GO
ALTER TABLE [organization].[Department]  WITH CHECK ADD  CONSTRAINT [FK_Department_BaseInfo] FOREIGN KEY([DepartmentTypeId])
REFERENCES [share].[BaseInfo] ([Id])
GO
ALTER TABLE [organization].[Department] CHECK CONSTRAINT [FK_Department_BaseInfo]
GO
ALTER TABLE [organization].[Department]  WITH CHECK ADD  CONSTRAINT [FK_Department_Department] FOREIGN KEY([ParentId])
REFERENCES [organization].[Department] ([Id])
GO
ALTER TABLE [organization].[Department] CHECK CONSTRAINT [FK_Department_Department]
GO
ALTER TABLE [share].[BaseInfo]  WITH CHECK ADD  CONSTRAINT [FK_BaseInfo_BaseTableType] FOREIGN KEY([BaseTableTypeId])
REFERENCES [share].[BaseTableType] ([Id])
GO
ALTER TABLE [share].[BaseInfo] CHECK CONSTRAINT [FK_BaseInfo_BaseTableType]
GO
USE [master]
GO
