.datepicker {
    width: 100% !important;
}

.mb-12 {
    margin-bottom: 1rem!important;
}

.stepper.stepper-links .stepper-nav .stepper-item {
    padding-left: 2rem;
    position: relative;
    flex-shrink: 0;
    margin: 1rem 1rem;
    padding-right: 2rem;
}

/*.stepper.stepper-links .stepper-nav { 
    margin: 0px 100px;
    justify-content: space-between; 
}*/