@using Shaa.Business.Extensions
@model Shaa.Domain.ViewModels.ReqService.RegisterRequestServiceViewModel

@{
    ViewData["Title"] = "ثبت خدمات";
    var services = ViewData["Services"] as List<SelectListViewModel>;
}

<div class="post d-flex flex-column-fluid" id="kt_post">
    <div id="kt_content_container" class="container-xxl">

        <div class="stepper stepper-links d-flex flex-column" id="kt_request_info">
            <div asp-action="RegisterLaboratory" asp-controller="Laboratory" method="post"
                 class="w-100 pt-5 px-5 pb-10 fv-plugins-bootstrap5 fv-plugins-framework" novalidate="novalidate" id="kt_create_account_form">

                <div class="row mb-12">
                    <div class="col-md-12 fv-row">
                        <label class="required fs-6 fw-bold form-label mb-2">عنوان خدمات ارائه شده</label>
                        <select asp-for="ServiceId" name="ServiceId" class="form-select form-select-lg form-select-solid" data-control="select2" data-placeholder="انتخاب..." data-allow-clear="true" data-hide-search="true">
                            <option></option>
                            @if (services != null && services.Any())
                            {
                                foreach (var service in services)
                                {
                                    <option value="@service.Id">@service.Title</option>
                                }
                            }
                        </select>
                    </div>
                </div>
                <div class="row mb-12">
                    <div class="col-md-6 fv-row">
                        <label class="required fs-6 fw-bold form-label mb-2">هزینه کل</label>
                        <input asp-for="TotalCost" name="TotalCost" class="form-control form-control-lg form-control-solid number-separator"/>
                    </div>
                    <div class="col-md-6 fv-row">
                        <label class="required fs-6 fw-bold form-label mb-2">مبلغ دریافتی</label>
                        <input asp-for="RecievedPayment" name="RecievedPayment" class="form-control form-control-lg form-control-solid number-separator"/>
                    </div>
                </div>
                <div class="row mb-12">
                    <div class="col-md-6 fv-row">
                        <label class="required fs-6 fw-bold form-label mb-2">تعداد نمونه</label>
                        <input asp-for="SampleCount" name="SampleCount" class="form-control form-control-lg form-control-solid"/>
                    </div>
                    <div class="col-md-6 fv-row">
                        <label class="required fs-6 fw-bold form-label mb-2">عنوان نمونه</label>
                        <input asp-for="SampleTitle" name="SampleTitle" class="form-control form-control-lg form-control-solid"/>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>