@using Shaa.Domain.ViewModels.Attachment;
@model FilterAttachmentViewModel

@{
    int ViewMode = ViewBag.ViewMode;
}

<div class="w-100 p-4 fv-plugins-bootstrap5 fv-plugins-framework" novalidate="novalidate">
    <div class="card mb-5 mb-xl-8">

        @if (ViewMode == 1)
        {
            <div class="card-header border-0 pt-5">
                <div class="card-toolbar" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-trigger="hover" title="برای افزودن فایل کلیک کنید">
                    <a href="#" class="btn btn-sm btn-light btn-active-primary" onclick="OpenAddAttachmentWindow('@Model.EntityName','@Model.EntityRecordId')">
                        <span class="svg-icon svg-icon-3">
                            0
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                                <rect opacity="0.5" x="11.364" y="20.364" width="16" height="2" rx="1" transform="rotate(-90 11.364 20.364)" fill="currentColor" />
                                <rect x="4.36396" y="11.364" width="16" height="2" rx="1" fill="currentColor" />
                            </svg>
                        </span>
                        جدید
                    </a>
                </div>
            </div>
        }
        <div class="card-body py-3" id="attachment_tab_list">
        </div>
    </div>
</div>


<script>
    function LoadAttachmentData() {
        $('#attachment_tab_list').load('/Attachment/ListData', { entityName: '@(Model.EntityName)', entityRecordId: '@Model.EntityRecordId' , ViewMode : '@ViewMode' }, function() {

        });
    }

    $(document).ready(function() {
        LoadAttachmentData();
    })

    function OpenAddAttachmentWindow(name, recordId) {
        openDialog("AddAttachment-dialog", 'افزودن فایل', '/Attachment/AttachmentWindow', {
            entityName: name,
            entityRecordId: recordId
        }, function(res) {
            InitComponents();
        }, "modal-xl")
    }

    function DeleteAttachment(id) {
        swal({
            title: "آیا فایل مورد نظر را حذف می کنید ؟",
            text: "قبل از حذف از انجام این عمل مطمئن شوید!",
            //icon: "info",
            buttons: {
                confirm: { text: 'حذف', className: 'sweet-warning' },
                cancel: 'انصراف'
            },
            dangerMode: true,
        }).then((willChange) => {
            if (willChange) {
                $.ajax({
                    url: '/Attachment/DeleteAttachment',
                    method: 'POST',
                    data: {
                        uniqueId: id
                    },
                    success: function(res) {
                        ShowSuccess('عملیات با موفقیت انجام شد');
                        LoadAttachmentData();

                        //if (res.success == false) {
                        //    if (res.errors)
                        //        ShowError(res.errors[0].message);
                        //    else
                        //        ShowSuccess('عملیات موفقیت آمیز نبود');
                        //} else {
                        //    if (res.success == true) {
                        //        ShowSuccess('عملیات با موفقیت انجام شد');
                        //        LoadAttachmentData();
                        //    }
                        //}
                    },
                    error: function(e) {
                        console.log('error : ', e);
                    }
                });
            } else {

            }
        });
    }
</script>