<div class="content d-flex flex-column flex-column-fluid" id="kt_content">
    <div class="toolbar" id="kt_toolbar">
        <div id="kt_toolbar_container" class="container-fluid d-flex flex-stack">
            <div data-kt-swapper="true" data-kt-swapper-mode="prepend" data-kt-swapper-parent="{default: '#kt_content_container', 'lg': '#kt_toolbar_container'}" class="page-title d-flex align-items-center flex-wrap me-3 mb-5 mb-lg-0">
                <h1 class="d-flex text-dark fw-bolder fs-3 align-items-center my-1">لیست درخواست ها</h1>
                <span class="h-20px border-gray-300 border-start mx-4"></span>
                <ul class="breadcrumb breadcrumb-separatorless fw-bold fs-7 my-1">
                    <li class="breadcrumb-item text-muted" itemtype="http://schema.org/ListItem" itemscope itemprop="itemListElement">
                        <a href="javascript:void(0)" class="text-muted text-hover-primary" itemprop="item">
                            @ViewData["Title"]
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="post d-flex flex-column-fluid" id="kt_post">
        <div id="kt_content_container" class="container-xxl">
            <div class="card">
                <!--begin::Header-->
                <div class="card-header position-relative py-0 border-bottom-2">
                    <!--begin::Nav-->
                    <ul class="nav nav-stretch nav-pills nav-pills-custom d-flex mt-3">
                        <!--begin::Nav item-->
                        <li class="nav-item p-0 ms-0 me-8">
                            <!--begin::Nav link-->
                            <a class="nav-link btn btn-color-muted px-0 active" data-bs-toggle="tab" href="#kt_table_widget_7_tab_content_1">
                                <!--begin::Title-->
                                <span class="nav-text fw-bold fs-4 mb-3">درخواست های ارسالی</span>
                                <!--end::Title-->
                                <!--begin::Bullet-->
                                <span class="bullet-custom position-absolute z-index-2 w-100 h-2px top-100 bottom-n100 bg-primary rounded"></span>
                                <!--end::Bullet-->
                            </a>
                            <!--end::Nav link-->
                        </li>
                        <!--end::Nav item-->
                        <!--begin::Nav item-->
                        <li class="nav-item p-0 ms-0 me-8">
                            <!--begin::Nav link-->
                            <a class="nav-link btn btn-color-muted px-0" data-bs-toggle="tab" href="#kt_table_widget_7_tab_content_2">
                                <!--begin::Title-->
                                <span class="nav-text fw-bold fs-4 mb-3">درخواست های دریافتی</span>
                                <!--end::Title-->
                                <!--begin::Bullet-->
                                <span class="bullet-custom position-absolute z-index-2 w-100 h-2px top-100 bottom-n100 bg-primary rounded"></span>
                                <!--end::Bullet-->
                            </a>
                            <!--end::Nav link-->
                        </li>
                        <!--end::Nav item-->
                    </ul>

                </div>
                <!--end::Header-->
                <!--begin::Body-->
                <div class="card-body">
                    <!--begin::Tab Content (ishlamayabdi)-->
                    <div class="tab-content mb-2">
                        <!--begin::Tap pane-->
                        <div class="tab-pane fade active show" id="kt_table_widget_7_tab_content_1">
                            <div id="request_tab1_content"></div>
                        </div>
                        <!--end::Tap pane-->
                        <!--begin::Tap pane-->
                        <div class="tab-pane fade" id="kt_table_widget_7_tab_content_2">
                            <div id="request_tab2_content"></div>
                        </div>
                        <!--end::Tap pane-->
                    </div>
                    <!--end::Tab Content-->
                </div>
                <!--end: Card Body-->

            </div>
        </div>
    </div>
</div>

@section Scripts
    {
    <script>
        $(document).ready(function() {
            $('#request_tab1_content').load('/Request/RequestIndexPartial', { IsOutBox: true }, function() {

            });

            $('#request_tab2_content').load('/Request/RequestIndexPartial', { IsOutBox: false }, function() {

            });
        })

        function OpenCheckWindow(requestId) {
            openDialog("CheckRequest-dialog", 'مشاهده درخواست', '/Request/CheckRequestWindow', {
                Id: requestId
            }, function(res) {
                InitComponents();
            }, "modal-xl")
        }

        function OpenRequestInfoWindow(requestId, title) {
            openDialog("RequestInfo-dialog", title, '/Request/RequestInfoWindow', {
                Id: requestId
            }, function(res) {
                InitComponents();
            }, "modal-xl")
        }

        function OpenRequestServiceWindow(requestId) {
            openDialog("RequestService-dialog", 'ثبت خدمات آزمایشگاهی', '/RequestService/Index', {
                Id: requestId
            }, function(res) {
                InitComponents();
            }, "modal-xl")
        }

        function SetRequestStatus(rid, rs) {

            swal({
                title: "درخواست به انجام شده تغییر یابد ؟",
                text: "قبل از انجام این عمل از ثبت خدمات برای این درخواست مطمئن شوید!",
                //icon: "info",
                buttons: {
                    confirm: { text: 'تغییر به انجام شده', className: 'sweet-warning' },
                    cancel: 'انصراف'
                },
                dangerMode: true,
            }).then((willChange) => {
                if (willChange) {
                    $.ajax({
                        url: '/Request/SetRequestStatus',
                        method: 'POST',
                        data: {
                            id: rid,
                            requestStatus: rs
                        },
                        success: function(res) {
                            if (res.success == false) {
                                if (res.errors)
                                    ShowError(res.errors[0].message);
                                else
                                    ShowSuccess('عملیات موفقیت آمیز نبود');
                            } else {
                                if (res.success == true) {
                                    ShowSuccess('عملیات با موفقیت انجام شد');
                                    $('#request_tab2_content').load('/Request/RequestIndexPartial', { IsOutBox: false }, function() { });
                                }
                            }
                        },
                        error: function(e) {
                            err(e);
                        }
                    });
                } else {

                }
            });
        }
    </script>
}